.center {
  text-align: center;
}

.bottom-text {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  padding: 10px;
}

#center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

#img-flex {
  display: flex;
  justify-content: center;
}


img
{
  position:absolute;
  display: block;
  margin: auto;
}
#milkPour
{
   z-index: 10;
}
#cerealPour
{
  z-index: 20;
  height: 30%;
}
#finishedCereal
{
  z-index: 30;  
}
#checkmark
{
  padding-top: 20%;
  z-index: 40;  
}
#confetti
{
  z-index: 50;  
}